---
title: Lab 2
author: Davis Bove
format: 
  html:
    loc: true
    code-fold: true
embed-resources: true
---

In [40]:
import pandas as pd
xmas = pd.read_csv("https://www.dropbox.com/scl/fi/qxaslqqp5p08i1650rpc4/xmas.csv?rlkey=erdxi7jbh7pqf9fh4lv4cayp5&dl=1")
# xmas

    Day Day.in.Words  Gift.Item        Verb Adjective        Location
0     1        first  partridge         NaN       NaN  in a pear tree
1     2       second       dove         NaN    turtle             NaN
2     3        third        hen         NaN    french             NaN
3     4       fourth       bird         NaN   calling             NaN
4     5        fifth       ring         NaN    golden             NaN
5     6        sixth      goose    a-laying       NaN             NaN
6     7      seventh       swan  a-swimming       NaN             NaN
7     8       eighth       maid   a-milking       NaN             NaN
8     9        ninth       lady     dancing       NaN             NaN
9    10        tenth       lord   a-leaping       NaN             NaN
10   11     eleventh      piper      piping       NaN             NaN
11   12      twelfth    drummer    drumming       NaN             NaN

In [227]:
verbs = xmas['Verb']
verb = verbs[0]
type(verb)

float

**Function 1**

In [42]:
def pluralize_gift(gift):
  """
  Returns plural of a noun
  
  Parameters
  ----------
  gift: str
    A noun
    
  Return
  ------
  str
    Plural version
  """

  if gift.find("oo") != -1 :
    gift = gift.replace("oo", "ee") 
  elif gift[-1] == "y":
    gift = gift.replace("y", "ies")
  else:
    gift = gift +"s"

  return gift

In [72]:
# def pluralize_gift_vec(vec):
#    pluralize_vec = list()
#    for val in vec:
#     val = pluralize_gift(val)
#     pluralize_vec.append(val)
#    return pluralize_vec

In [131]:
# vec = xmas["Gift.Item"]
# import numpy as np
# vec = np.array(vec)
# type(vec)

# TF = type(vec) == np.ndarray
# TF

In [218]:
#vectorized form of pluarlized gift

def pluralize_gift_vec(vec):
    """
  Returns plural of a noun
  
  Parameters
  ----------
  vec: str, list, pd.series, np.array
    A noun, or list of nouns 
    if using a pandas series or numpy array, pandas must be named as pd and numpy named as np
    
  Return
  ------
  str, list (pd.series and np.array will be converted to list)
    Plural version of given nouns
  """

  
    if (type(vec) == pd.Series) == True:
        vec = list(vec)
        pluralize_vec = map(pluralize_gift, vec)
        pluralize_vec = list(pluralize_vec)
        return pluralize_vec
    if (type(vec) == str) == True:
        pluralize_vec = pluralize_gift(vec)
        return pluralize_vec
    if (type(vec) == list) == True:
        pluralize_vec = map(pluralize_gift, vec)
        pluralize_vec = list(pluralize_vec)
        return pluralize_vec
    if (type(vec) == np.ndarray) == True:
        vec = list(vec)
        pluralize_vec = map(pluralize_gift, vec)
        pluralize_vec = list(pluralize_vec)
        return pluralize_vec
    else: 
        return "Please give one of the following data types: Pandas series, list, numpy array, or string"

In [133]:
# Should work
# pluralize_gift_vec("goose")

# Will work if your function is vectorized! 
# pluralize_gift_vec(xmas['Gift.Item'])

['partridges',
 'doves',
 'hens',
 'birds',
 'rings',
 'geese',
 'swans',
 'maids',
 'ladies',
 'lords',
 'pipers',
 'drummers']

**Function 2**

function 1 takes a list of int and converts them into a list of str
function 2 takes a list of string numbers and maps them to a list of words

In [219]:
def convert_number(num):
    """
    Returns the word form of a given number, only for integers between 1-12
    Parameters
  ----------
  num: int
    a number between 1 and 12
    
  Return
  ------
  str
    word form of the given int
    """
    if (type(num) == int) == False:
        return "Error, please only use integer type data between 1-12"
    if num > 12:
        return "Error, please only use integers between 1-12"
 
    num = str(num)
    num = pd.Series(num) #.map() seems to only work on a pandas series so I convert the number to a series with one entry
    asword = num.map({
        "1" : "one",
        "2" : "two",
        "3" : "three",
        "4" : "four",
        "5" : "five",
        "6" : "six",
        "7" : "seven",
        "8" : "eight",
        "9" : "nine",
        "10" : "ten",
        "11" : "eleven",
        "12" : "twelve"
    })
    asword = asword[0] #index the first and only item in the pandas series
    return asword

str

In [275]:
def make_phrase(num, num_word, item, verb, adjective, location):
   # if (type(verb) == float) == True:
   #    verb = verb.fillna("")
   # else:
   #    verb = verb
      
   # if (type(adjective) == float) == True:
   #    adjective = adjective.fillna("")
   # else:
   #    adjective = adjective
   # if (type(location) == float) == True:
   #    location = location.fillna("")
   # else: 
   #    location = location
   verb = str(verb)
   if verb == "nan":
      verb = ""
   adjective = str(adjective)
   if adjective == "nan":
      adjective = ""
   location = str(location)
   if location == "nan":
      location = ""
   if num > 1:
      item = pluralize_gift_vec(item)
      num = convert_number(num)
   
   if num == 1:
      if item[0] in ["a", "A", "e", "E", "i", "I", "o", "O", "u", "U"]:
         num = "an"
      else:
         num = "a"
      
   phrase = num +" " + adjective + " " + item + " " + verb + " " + location
   
   return phrase

In [271]:
make_phrase(num = 1, num_word = "", item = "elephant", verb = "", adjective= "", location = "in a pear tree")

'an  elephant  in a pear tree'

In [282]:
phrase = map(make_phrase, xmas["Day"], xmas["Day.in.Words"], xmas["Gift.Item"], xmas["Verb"], xmas["Adjective"], xmas["Location"])
xmas["Full.Phrase"] = pd.Series(phrase)
xmas

    Day Day.in.Words  ...        Location                   Full.Phrase
0     1        first  ...  in a pear tree  a  partridge  in a pear tree
1     2       second  ...             NaN            two turtle doves
2     3        third  ...             NaN           three french hens
3     4       fourth  ...             NaN          four calling birds
4     5        fifth  ...             NaN           five golden rings
5     6        sixth  ...             NaN          six  geese a-laying
6     7      seventh  ...             NaN      seven  swans a-swimming
7     8       eighth  ...             NaN       eight  maids a-milking
8     9        ninth  ...             NaN         nine  ladies dancing
9    10        tenth  ...             NaN         ten  lords a-leaping
10   11     eleventh  ...             NaN        eleven  pipers piping
11   12      twelfth  ...             NaN    twelve  drummers drumming

[12 rows x 7 columns]

In [293]:
days = xmas.iloc[:,0]

pandas.core.series.Series

In [342]:
def make_phrase_3(num, num_word, item, verb, adjective, location):

   if num > 1:
      item = pluralize_gift_vec(item)
      num = convert_number(num)
   
   if num == 1:
      if item[0] in ["a", "A", "e", "E", "i", "I", "o", "O", "u", "U"]:
         num = "an"
      else:
         num = "a"
      
   phrase = num +" " + adjective + " " + item + " " + verb + " " + location
   
   return phrase

In [344]:
def make_phrase_2 (data):
  """
  <documentation here>
  """
  verb = data.iloc[:,3]
  adjective = data.iloc[:,4]
  location = data.iloc[:,5]
  ## Step 1: Replace NAs with blank strings
  

  verb = verb.fillna("")
  adjective = adjective.fillna("")
  location = location.fillna("")
  data.iloc[:,3] = verb
  data.iloc[:,4] = adjective
  data.iloc[:,5] = location

  phrase = data.apply(lambda x: make_phrase_3(x.iloc[0], x.iloc[1], x.iloc[2], x.iloc[3], x.iloc[4], x.iloc[5]), axis =1)
  data["Full.Phrase"] = phrase
  return data

In [345]:
make_phrase_2(xmas)

    Day Day.in.Words  ...        Location                   Full.Phrase
0     1        first  ...  in a pear tree  a  partridge  in a pear tree
1     2       second  ...                            two turtle doves
2     3        third  ...                           three french hens
3     4       fourth  ...                          four calling birds
4     5        fifth  ...                           five golden rings
5     6        sixth  ...                          six  geese a-laying
6     7      seventh  ...                      seven  swans a-swimming
7     8       eighth  ...                       eight  maids a-milking
8     9        ninth  ...                         nine  ladies dancing
9    10        tenth  ...                         ten  lords a-leaping
10   11     eleventh  ...                        eleven  pipers piping
11   12      twelfth  ...                    twelve  drummers drumming

[12 rows x 7 columns]