---
title: Lab 4
author: Davis Bove
format: 
  html:
    loc: true
    code-fold: true
embed-resources: true
---

Importing data using Beautiful Soup

In [5]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [26]:
url = "https://worldpopulationreview.com/state-rankings/starbucks-stores-by-state"
response = requests.get(url)

In [27]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")
# soup.head()

Parsing Starbucks data

In [28]:
len(soup.find_all("table"))

1

In [29]:
table = soup.find_all("table")[0]

In [30]:
table.find_all("tr")[2]

<tr class="table-row" data-state="false"><th class="text-wpr-table_header sticky left-0 z-50 bg-clip-padding py-1.5 pl-3 text-left align-middle text-sm md:px-4"><a class="text-wpr-link" href="/states/texas" to="/states/texas">Texas</a></th><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">1,346</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">1,215</td><td class="text-wpr-table_text z-40 px-3 py-1.5 text-sm md:px-4">1,409</td></tr>

In [31]:
cells = table.find_all("tr")[1].find_all("th")
cells
state_tag = cells[0].find("a") or cells[0]
state = state_tag.text
print(state)

California
California

In [32]:
cells = table.find_all("tr")[1].find_all("td")
cells
stores23_tag = cells[0]
stores23 = stores23_tag.text
print(stores23)

3,080
3,080

In [33]:
# initialize an empty list
rows = []

# iterate over all rows in the faculty table
for state in table.find_all("tr")[1:]:

    # Get all the cells (<td>) in the row.
    cells = state.find_all("th")
    cells2 = state.find_all("td")
    # The information we need is the text between tags.

    # Find the the name of the faculty in cell[0]
    # which for most faculty is contained in the <strong> tag
    state_tag = cells[0].find("a")
    state = state_tag.text

    # Find the office of the faculty in cell[1]
    # which for most faculty is contained in the <a> tag
    stores23_tag = cells2[0]
    stores23 = stores23_tag.text

    # Find the email of the faculty in cell[3]
    # which for most faculty is contained in the <a> tag
    stores21_tag = cells2[1]
    stores21 = stores21_tag.text

    stores24_tag = cells2[2]
    stores24 = stores24_tag.text


    # Append this data.
    rows.append({
        "state": state,
        "Stores 2023": stores23,
        "Stores 2021": stores21,
        "Stores 2024": stores24
    })

In [34]:
rows

[{'state': 'California',
  'Stores 2023': '3,080',
  'Stores 2021': '2,959',
  'Stores 2024': '3,117'},
 {'state': 'Texas',
  'Stores 2023': '1,346',
  'Stores 2021': '1,215',
  'Stores 2024': '1,409'},
 {'state': 'Florida',
  'Stores 2023': '844',
  'Stores 2021': '786',
  'Stores 2024': '892'},
 {'state': 'Washington',
  'Stores 2023': '741',
  'Stores 2021': '739',
  'Stores 2024': '736'},
 {'state': 'New York',
  'Stores 2023': '692',
  'Stores 2021': '643',
  'Stores 2024': '715'},
 {'state': 'Illinois',
  'Stores 2023': '677',
  'Stores 2021': '621',
  'Stores 2024': '685'},
 {'state': 'Arizona',
  'Stores 2023': '548',
  'Stores 2021': '535',
  'Stores 2024': '579'},
 {'state': 'Colorado',
  'Stores 2023': '495',
  'Stores 2021': '497',
  'Stores 2024': '506'},
 {'state': 'Ohio',
  'Stores 2023': '491',
  'Stores 2021': '446',
  'Stores 2024': '499'},
 {'state': 'Virginia',
  'Stores 2023': '489',
  'Stores 2021': '456',
  'Stores 2024': '510'},
 {'state': 'Oregon',
  'Stores 2023': '359',
  'Stores 2021': '345',
  'Stores 2024': ''},
 {'state': 'Pennsylvania',
  'Stores 2023': '357',
  'Stores 2021': '406',
  'Stores 2024': ''},
 {'state': 'North Carolina',
  'Stores 2023': '338',
  'Stores 2021': '422',
  'Stores 2024': ''},
 {'state': 'Georgia',
  'Stores 2023': '326',
  'Stores 2021': '379',
  'Stores 2024': ''},
 {'state': 'Michigan',
  'Stores 2023': '283',
  'Stores 2021': '310',
  'Stores 2024': ''},
 {'state': 'Massachusetts',
  'Stores 2023': '273',
  'Stores 2021': '279',
  'Stores 2024': ''},
 {'state': 'New Jersey',
  'Stores 2023': '261',
  'Stores 2021': '293',
  'Stores 2024': ''},
 {'state': 'Maryland',
  'Stores 2023': '257',
  'Stores 2021': '274',
  'Stores 2024': ''},
 {'state': 'Nevada',
  'Stores 2023': '253',
  'Stores 2021': '269',
  'Stores 2024': ''},
 {'state': 'Indiana',
  'Stores 2023': '221',
  'Stores 2021': '265',
  'Stores 2024': ''},
 {'state': 'Missouri',
  'Stores 2023': '188',
  'Stores 2021': '208',
  'Stores 2024': ''},
 {'state': 'Minnesota',
  'Stores 2023': '184',
  'Stores 2021': '212',
  'Stores 2024': ''},
 {'state': 'Tennessee',
  'Stores 2023': '180',
  'Stores 2021': '237',
  'Stores 2024': ''},
 {'state': 'Kentucky',
  'Stores 2023': '166',
  'Stores 2021': '131',
  'Stores 2024': ''},
 {'state': 'Wisconsin',
  'Stores 2023': '145',
  'Stores 2021': '176',
  'Stores 2024': ''},
 {'state': 'South Carolina',
  'Stores 2023': '131',
  'Stores 2021': '207',
  'Stores 2024': ''},
 {'state': 'Connecticut',
  'Stores 2023': '123',
  'Stores 2021': '125',
  'Stores 2024': ''},
 {'state': 'Utah',
  'Stores 2023': '101',
  'Stores 2021': '126',
  'Stores 2024': ''},
 {'state': 'Hawaii',
  'Stores 2023': '99',
  'Stores 2021': '105',
  'Stores 2024': ''},
 {'state': 'Kansas',
  'Stores 2023': '94',
  'Stores 2021': '120',
  'Stores 2024': ''},
 {'state': 'District of Columbia',
  'Stores 2023': '91',
  'Stores 2021': '',
  'Stores 2024': ''},
 {'state': 'Iowa',
  'Stores 2023': '89',
  'Stores 2021': '142',
  'Stores 2024': ''},
 {'state': 'Alabama',
  'Stores 2023': '85',
  'Stores 2021': '99',
  'Stores 2024': ''},
 {'state': 'Louisiana',
  'Stores 2023': '84',
  'Stores 2021': '10',
  'Stores 2024': ''},
 {'state': 'Oklahoma',
  'Stores 2023': '79',
  'Stores 2021': '94',
  'Stores 2024': ''},
 {'state': 'New Mexico',
  'Stores 2023': '76',
  'Stores 2021': '92',
  'Stores 2024': ''},
 {'state': 'Idaho',
  'Stores 2023': '67',
  'Stores 2021': '78',
  'Stores 2024': ''},
 {'state': 'Nebraska',
  'Stores 2023': '58',
  'Stores 2021': '87',
  'Stores 2024': ''},
 {'state': 'Arkansas',
  'Stores 2023': '55',
  'Stores 2021': '66',
  'Stores 2024': ''},
 {'state': 'Alaska',
  'Stores 2023': '49',
  'Stores 2021': '49',
  'Stores 2024': ''},
 {'state': 'Mississippi',
  'Stores 2023': '32',
  'Stores 2021': '36',
  'Stores 2024': ''},
 {'state': 'Montana',
  'Stores 2023': '32',
  'Stores 2021': '45',
  'Stores 2024': ''},
 {'state': 'Maine',
  'Stores 2023': '30',
  'Stores 2021': '31',
  'Stores 2024': ''},
 {'state': 'New Hampshire',
  'Stores 2023': '29',
  'Stores 2021': '35',
  'Stores 2024': ''},
 {'state': 'Rhode Island',
  'Stores 2023': '27',
  'Stores 2021': '26',
  'Stores 2024': ''},
 {'state': 'Delaware',
  'Stores 2023': '25',
  'Stores 2021': '39',
  'Stores 2024': ''},
 {'state': 'South Dakota',
  'Stores 2023': '25',
  'Stores 2021': '52',
  'Stores 2024': ''},
 {'state': 'West Virginia',
  'Stores 2023': '25',
  'Stores 2021': '64',
  'Stores 2024': ''},
 {'state': 'Wyoming',
  'Stores 2023': '23',
  'Stores 2021': '26',
  'Stores 2024': ''},
 {'state': 'North Dakota',
  'Stores 2023': '13',
  'Stores 2021': '20',
  'Stores 2024': ''},
 {'state': 'Vermont',
  'Stores 2023': '8',
  'Stores 2021': '35',
  'Stores 2024': ''}]

In [63]:
Starbucks_count = pd.DataFrame(rows)
Starbucks_count

                   state Stores 2023 Stores 2021 Stores 2024
0             California       3,080       2,959       3,117
1                  Texas       1,346       1,215       1,409
2                Florida         844         786         892
3             Washington         741         739         736
4               New York         692         643         715
5               Illinois         677         621         685
6                Arizona         548         535         579
7               Colorado         495         497         506
8                   Ohio         491         446         499
9               Virginia         489         456         510
10                Oregon         359         345
11          Pennsylvania         357         406
12        North Carolina         338         422
13               Georgia         326         379
14              Michigan         283         310
15         Massachusetts         273         279
16            New Jersey         261         293
17              Maryland         257         274
18                Nevada         253         269
19               Indiana         221         265
20              Missouri         188         208
21             Minnesota         184         212
22             Tennessee         180         237
23              Kentucky         166         131
24             Wisconsin         145         176
25        South Carolina         131         207
26           Connecticut         123         125
27                  Utah         101         126
28                Hawaii          99         105
29                Kansas          94         120
30  District of Columbia          91
31                  Iowa          89         142
32               Alabama          85          99
33             Louisiana          84          10
34              Oklahoma          79          94
35            New Mexico          76          92
36                 Idaho          67          78
37              Nebraska          58          87
38              Arkansas          55          66
39                Alaska          49          49
40           Mississippi          32          36
41               Montana          32          45
42                 Maine          30          31
43         New Hampshire          29          35
44          Rhode Island          27          26
45              Delaware          25          39
46          South Dakota          25          52
47         West Virginia          25          64
48               Wyoming          23          26
49          North Dakota          13          20
50               Vermont           8          35

In [36]:
urldunkin = "https://worldpopulationreview.com/state-rankings/dunkin-donuts-by-state"
response2 = requests.get(urldunkin)

In [37]:
soup2 = BeautifulSoup(response2.content, "html.parser")

In [38]:
len(soup2.find_all("table"))
tabledunkin = soup2.find_all("table")[0]

In [39]:
cells = tabledunkin.find_all("tr")[1].find_all("th")
cells
state_tag = cells[0].find("a") or cells[0]
state = state_tag.text
print(state)

New York
New York

In [40]:
# initialize an empty list
rows2 = []

# iterate over all rows in the faculty table
for state in tabledunkin.find_all("tr")[1:]:

    # Get all the cells (<td>) in the row.
    cells = state.find_all("th")
    cells2 = state.find_all("td")
    # The information we need is the text between tags.

    # Find the the name of the faculty in cell[0]
    # which for most faculty is contained in the <strong> tag
    state_tag = cells[0].find("a")
    state = state_tag.text

    # Find the office of the faculty in cell[1]
    # which for most faculty is contained in the <a> tag
    stores24_tag = cells2[0]
    stores24 = stores24_tag.text

    # Find the email of the faculty in cell[3]
    # which for most faculty is contained in the <a> tag
    stores23_tag = cells2[1]
    stores23 = stores23_tag.text

    # Append this data.
    rows2.append({
        "state": state,
        "Stores 2024": stores24,
        "Stores 2023": stores23
    })

In [62]:
dunkin = pd.DataFrame(rows2)
dunkin

                   state Stores 2024 Stores 2023
0               New York       1,431       1,414
1          Massachusetts       1,042       1,068
2                Florida         909         883
3             New Jersey         872         866
4               Illinois         711         692
5           Pennsylvania         650         629
6            Connecticut         476         480
7               Maryland         311         303
8                Georgia         287         265
9                   Ohio         261         245
10              Virginia         244         230
11                 Texas         226         196
12        North Carolina         224         206
13         New Hampshire         216         218
14                 Maine         164         159
15          Rhode Island         159         160
16            California         143         134
17             Tennessee         137         123
18               Indiana         117         104
19        South Carolina         116         103
20              Michigan         112         105
21               Arizona         110         102
22             Wisconsin         100          83
23               Alabama          69          59
24              Delaware          67          66
25              Missouri          54          50
26              Kentucky          50          41
27               Vermont          50          49
28              Colorado          48          43
29                Nevada          42          38
30             Minnesota          38          34
31                  Iowa          36          34
32         West Virginia          31          27
33                Kansas          26          28
34              Nebraska          24          23
35              Oklahoma          23          18
36  District of Columbia          19
37            New Mexico          19          19
38             Louisiana          15          16
39              Arkansas          14           9
40           Mississippi          14          12
41                Hawaii           6           6
42                  Utah           2           1
43               Wyoming           1           1
44                Alaska           0           0
45                 Idaho           0           0
46               Montana           0           0
47          North Dakota           0           0
48                Oregon           0           0
49          South Dakota           0           0
50            Washington           0          19

Merging and tidying dataframe

In [47]:
Starbucks_count

                   state Stores 2023 Stores 2021 Stores 2024
0             California       3,080       2,959       3,117
1                  Texas       1,346       1,215       1,409
2                Florida         844         786         892
3             Washington         741         739         736
4               New York         692         643         715
5               Illinois         677         621         685
6                Arizona         548         535         579
7               Colorado         495         497         506
8                   Ohio         491         446         499
9               Virginia         489         456         510
10                Oregon         359         345
11          Pennsylvania         357         406
12        North Carolina         338         422
13               Georgia         326         379
14              Michigan         283         310
15         Massachusetts         273         279
16            New Jersey         261         293
17              Maryland         257         274
18                Nevada         253         269
19               Indiana         221         265
20              Missouri         188         208
21             Minnesota         184         212
22             Tennessee         180         237
23              Kentucky         166         131
24             Wisconsin         145         176
25        South Carolina         131         207
26           Connecticut         123         125
27                  Utah         101         126
28                Hawaii          99         105
29                Kansas          94         120
30  District of Columbia          91
31                  Iowa          89         142
32               Alabama          85          99
33             Louisiana          84          10
34              Oklahoma          79          94
35            New Mexico          76          92
36                 Idaho          67          78
37              Nebraska          58          87
38              Arkansas          55          66
39                Alaska          49          49
40           Mississippi          32          36
41               Montana          32          45
42                 Maine          30          31
43         New Hampshire          29          35
44          Rhode Island          27          26
45              Delaware          25          39
46          South Dakota          25          52
47         West Virginia          25          64
48               Wyoming          23          26
49          North Dakota          13          20
50               Vermont           8          35

In [64]:
big_table = Starbucks_count.merge(dunkin, on= ["state"], suffixes= ("starbucks", "dunkin"))

In [65]:
big_table

                   state  ... Stores 2023dunkin
0             California  ...               134
1                  Texas  ...               196
2                Florida  ...               883
3             Washington  ...                19
4               New York  ...             1,414
5               Illinois  ...               692
6                Arizona  ...               102
7               Colorado  ...                43
8                   Ohio  ...               245
9               Virginia  ...               230
10                Oregon  ...                 0
11          Pennsylvania  ...               629
12        North Carolina  ...               206
13               Georgia  ...               265
14              Michigan  ...               105
15         Massachusetts  ...             1,068
16            New Jersey  ...               866
17              Maryland  ...               303
18                Nevada  ...                38
19               Indiana  ...               104
20              Missouri  ...                50
21             Minnesota  ...                34
22             Tennessee  ...               123
23              Kentucky  ...                41
24             Wisconsin  ...                83
25        South Carolina  ...               103
26           Connecticut  ...               480
27                  Utah  ...                 1
28                Hawaii  ...                 6
29                Kansas  ...                28
30  District of Columbia  ...
31                  Iowa  ...                34
32               Alabama  ...                59
33             Louisiana  ...                16
34              Oklahoma  ...                18
35            New Mexico  ...                19
36                 Idaho  ...                 0
37              Nebraska  ...                23
38              Arkansas  ...                 9
39                Alaska  ...                 0
40           Mississippi  ...                12
41               Montana  ...                 0
42                 Maine  ...               159
43         New Hampshire  ...               218
44          Rhode Island  ...               160
45              Delaware  ...                66
46          South Dakota  ...                 0
47         West Virginia  ...                27
48               Wyoming  ...                 1
49          North Dakota  ...                 0
50               Vermont  ...                49

[51 rows x 6 columns]

Making the table a "long" format

In [49]:
# Starbucks_count["store_name"]= "Starbucks"
# dunkin["store_name"]= "Dunkin"

In [61]:
# tidy = long_table.melt(id_vars= "state", var_name= "store", value_name= "year", value_vars=  )

In [69]:
population = pd.read_html("https://simple.wikipedia.org/wiki/List_of_U.S._states_by_population")[0]

In [95]:
population = population[["State", "Census population, April 1, 2020 [1][2]"]]
population = population.rename(columns= {"State" : "state", "Census population, April 1, 2020 [1][2]" : "Population"})

In [81]:
bigger_table = big_table.merge(population, on = ["state"], how = "left")

KeyError: 'state'

In [82]:
Starbucks_count["Location"] = "Starbucks"
dunkin["Location"] = "Dunkin"

In [113]:
long_table = pd.concat([Starbucks_count, dunkin])
bigger_table = long_table.merge(population, on = ["state"])
bigger_table = bigger_table.sort_values("Population", ascending= False)
bigger_table = bigger_table[["state", "Location", "Stores 2021", "Stores 2023", "Stores 2024", "Population"]]
bigger_table

                   state   Location  ... Stores 2024 Population
0             California  Starbucks  ...       3,117   39538223
67            California     Dunkin  ...         143   39538223
1                  Texas  Starbucks  ...       1,409   30145505
62                 Texas     Dunkin  ...         226   30145505
2                Florida  Starbucks  ...         892   21538187
..                   ...        ...  ...         ...        ...
30  District of Columbia  Starbucks  ...                 689545
78               Vermont     Dunkin  ...          50     643077
50               Vermont  Starbucks  ...                 643077
94               Wyoming     Dunkin  ...           1     576851
48               Wyoming  Starbucks  ...                 576851

[102 rows x 6 columns]